html {
    font-size: 62.5%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-right: 5rem;
}

.time-remaining {
    display: flex;
    
}

.timer-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}

.timer-element {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.high-scores {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}

.intro {
    color: rgb(233, 160, 33);
    margin: 4%;
    text-align: center;
    font-size: 5rem;
}

.big-box {
    width: 70%;
    height: 70%;
    background-color: rgb(223, 229, 234);
    margin: 20px 50px;
    padding: 40px;
    align-self: center;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.center-alignment {
    align-items: center;
    justify-content: space-evenly;
}

.start-quiz {
    display: flex;
    align-self: center;
    font-size: 4rem;
    background-color: rgb(246, 229, 158);
    border-radius: 1rem;
    padding: 2rem;
    border-width: 1rem;
    border-color: rgb(233, 160, 33);
}

.divStyle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.questionStyles {
    color: rgb(20, 20, 20);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 3.4rem;
    justify-content: flex-start;
    margin: 1.5rem 2rem 1rem 2rem;
}

.answerStyles {
    font-size: 3rem;
    margin: 3rem;
    margin-bottom: 1rem;
}

/* for styling between individual answers */
.answers {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.answers:hover {
    color:rgb(233, 160, 33);
    font-weight: 1.5rem;
    cursor: pointer;
}

.hideDiv {
    display: none;
}

#end-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#your-score {
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
}

#score-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

#initials {
    font-size: 2rem;
}

#btn {
    background-color: rgb(162, 186, 205);
    border-style: none;
    box-shadow: .1rem;
    padding: .2rem .5rem;
    border-radius: .5rem;
    font-size: 2rem;
}


.hide {
    display: none;
}
/*rgb(223, 229, 234)*/