html {
    font-size: 62.5%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-right: 5rem;
}

.time-remaining {
    display: flex;
    
}

.timer-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}

.timer-element {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.high-scores {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}

.intro {
    color: rgb(233, 160, 33);
    margin: 4%;
    text-align: center;
    font-size: 5rem;
}

.big-box {
    width: 70%;
    height: 70%;
    background-color: rgb(223, 229, 234);
    margin: 20px 50px;
    padding: 40px;
    align-self: center;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.start-quiz {
    display: flex;
    align-self: center;
    font-size: 4rem;
    background-color: rgb(246, 229, 158);
    border-radius: 1rem;
    padding: 2rem;
    border-width: 1rem;
    border-color: rgb(233, 160, 33);
}

.questionStyles {
    color: rgb(233, 160, 33);
    margin: 4%;
    text-align: center;
    font-size: 5rem;
}

/*rgb(223, 229, 234)*/